/* Main & Lyric Page */
body, h1, h2, h3, h4, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: dimgrey;
    max-width: 100%;
    padding-top: 40px;
    overflow-x: hidden;
}
/* Fixed Navigation */
.main_nav {
    background: darkslategrey;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.main_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
}
.main_nav li {
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
a:hover {
    color: #2e3a3a;
}
/* Song list */
#song_ul {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
#song_ul li {
    font-size: 5vw;
    text-align: center;
}
/* Header with overlay */
#main_header {
    position: relative;
    text-align: center;
}
/* Lace image */
#lace1 {
    width: 100%;
    min-width: 100vw;
    height: auto;
    opacity: 0.3;
    display: block;
    z-index: 1;
}
/* Overlay */
.title_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}
#name {
    font-size: 15vw;
    font-style: oblique;
    font-weight: lighter;
    color: darkslategrey;
}
#est {
    font-size: 5vw;
    font-style: italic;
    color: darkslategrey;
}
#main_section {
    text-align: center;
    padding: 2rem;
    color: antiquewhite;
}
#main_section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;}
#main_section p {
    font-size: 3.2vw;
}
#main_section h4 {
    font-size: 1.5vw;
    font-weight: lighter;
    padding: 2rem;
    font-style: oblique;
    display: inline-block;
    margin: 0 auto;
}
footer {
    background: darkslategrey;
    color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 0.25rem;
    text-align: center;
}
footer h4 {
    font-weight: lighter;
    font-style: oblique;
    font-size: 1vw;
}
.lyrics img {
    display: block;
    width: 100%;
    height: auto;
}
.lyrics_nav {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
.lyrics_nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
.lyrics_nav li {
    display: inline-block;
}
.nav_button {
    background-color: darkslategrey;
    color: antiquewhite;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.nav_button:hover {
    background-color: #2e3a3a;
}