/* Main & Lyric Page */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 0;
    padding: 0;
    background-color:#9eb8b5;
    max-width: 100%;
}
.main_nav {
    background: cadetblue;
    width: 2000px;
    max-width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 30px;
    padding: 0.5rem 1rem;
}
.main_nav ul {
    margin: 0.5%;
}
.main_nav li {
    display: inline-block;
    width: 25%;
    font-size: 22px;
}
#song_ul {
    padding-top: 40px;
}
#song_ul li {
    width: 50%;
    font-size: 1.6vw;
}
li a {
    text-decoration: none;
    color: #40344b;
}
#main_header {
    position: relative;
}
#lace1 {
    width: 2000px;
    max-width: 100%;
    opacity: 0.2;
}
h3 {
    position: absolute;
    color: cadetblue;
    font-style: oblique;
    font-weight: lighter;
    z-index: 1;
    text-align: center;
    top: 24%;
    left: 13%;
    padding: auto auto;
    font-size: 14vw;
}
#main_section {
    position: relative;
}
#main_section p {
    color: #40344b;
    text-align: center;
    font-size: 6vw;
}
span {
    font-size: 2vw;
    font-style: oblique;
}
#rufus_lyrics img {
    display: block;
    width: 100%;
    height: auto;
}